@Base
@Core
python-django
docker
GeoIP
mariadb
mariadb-galera-server
mariadb-libs
MySQL-python
mongodb
mongodb-server
monit
PyYAML
apr
apr-util
apr-util-ldap
at
atop
authconfig
autoconf
automake
avahi
bc
bind-utils
boost-program-options
boost-system
boost-thread
byacc
c-ares
centos-release
ceph
ceph-deploy
ceph-radosgw
ceph-test
cloud-init
cloud-utils
cobbler
cobbler-web
corosync
cronie
cronie-anacron
cronie-noanacron
crontabs
curl
daemonize
compat-db47
libdb4-cxx
libdb4-utils
dbus-python
debootstrap
deltaiso
deltarpm
dhclient
dhcp
disktype
dmidecode
dnsmasq
dnsmasq-utils
dstat
ed
erlang
erlang-appmon
erlang-asn1
erlang-common_test
erlang-compiler
erlang-cosEvent
erlang-cosEventDomain
erlang-cosFileTransfer
erlang-cosNotification
erlang-cosProperty
erlang-cosTime
erlang-cosTransactions
erlang-crypto
erlang-debugger
erlang-dialyzer
erlang-diameter
erlang-doc
erlang-edoc
erlang-erl_docgen
erlang-erl_interface
erlang-erts
erlang-et
erlang-eunit
erlang-examples
erlang-gs
erlang-hipe
erlang-ic
erlang-inets
erlang-jinterface
erlang-kernel
erlang-megaco
erlang-mnesia
erlang-observer
erlang-odbc
erlang-orber
erlang-os_mon
erlang-otp_mibs
erlang-parsetools
erlang-percept
erlang-pman
erlang-public_key
erlang-reltool
erlang-runtime_tools
erlang-sasl
erlang-snmp
erlang-ssh
erlang-ssl
erlang-stdlib
erlang-syntax_tools
erlang-test_server
erlang-toolbar
erlang-tools
erlang-tv
erlang-typer
erlang-webtool
erlang-wx
erlang-xmerl
euca2ools
fdupes
fence-agents-all
flex
fuel-utils
fuse-libs
galera
gcc
gcc-c++
gcc-gfortran
gdisk
git
gperftools-libs
ipxe-bootimgs
haproxy
hdparm
hiera
hivex
htop
http-parser
httpd
httpd-tools
iperf3
iproute
json-c
keepalived
kernel
kernel-devel
kernel-headers
leveldb
libaio
libcephfs1
libevent-devel
fcgi
libicu
libmemcached
libmlx4
libmongodb
libqb
librados2
librbd1
librelp
libunwind
libuser
libuv
libuv-devel
libxml2
libyaml
linux-firmware
lrzip
lzop
lxc
mailcap
mailx
make
man-pages
mcollective
mcollective-client
mcollective-common
mc
memcached
mlocate
mod_fcgid
mod_ssl
mod_wsgi
mtools
nagios
nagios-common
nagios-plugins
nagios-plugins-apt
nagios-plugins-breeze
nagios-plugins-by_ssh
nagios-plugins-cluster
nagios-plugins-dhcp
nagios-plugins-dig
nagios-plugins-disk
nagios-plugins-disk_smb
nagios-plugins-dns
nagios-plugins-dummy
nagios-plugins-file_age
nagios-plugins-flexlm
nagios-plugins-hpjd
nagios-plugins-http
nagios-plugins-icmp
nagios-plugins-ide_smart
nagios-plugins-ircd
nagios-plugins-ldap
nagios-plugins-load
nagios-plugins-log
nagios-plugins-mailq
nagios-plugins-mrtg
nagios-plugins-mrtgtraf
nagios-plugins-mysql
nagios-plugins-nagios
nagios-plugins-nrpe
nagios-plugins-nt
nagios-plugins-ntp
nagios-plugins-ntp-perl
nagios-plugins-nwstat
nagios-plugins-oracle
nagios-plugins-overcr
nagios-plugins-perl
nagios-plugins-pgsql
nagios-plugins-ping
nagios-plugins-procs
nagios-plugins-real
nagios-plugins-rpc
nagios-plugins-sensors
nagios-plugins-smtp
nagios-plugins-snmp
nagios-plugins-ssh
nagios-plugins-swap
nagios-plugins-tcp
nagios-plugins-time
nagios-plugins-ups
nagios-plugins-users
nagios-plugins-wave
nmap-ncat
nfs-utils
nginx
nmap
nodejs
nodejs-less
novnc
nrpe
ntp
numpy
openssh-clients
openssh-server
openssl-devel
openstack-ceilometer-api
openstack-ceilometer-alarm
openstack-ceilometer-central
openstack-ceilometer-collector
openstack-ceilometer-common
openstack-ceilometer-compute
openstack-ceilometer-notification
openstack-cinder
openstack-dashboard
openstack-glance
openstack-heat-api
openstack-heat-api-cfn
openstack-heat-api-cloudwatch
openstack-heat-common
openstack-heat-engine
openstack-keystone
openstack-neutron
openstack-neutron-bigswitch
openstack-neutron-brocade
openstack-neutron-cisco
openstack-neutron-hyperv
openstack-neutron-ibm
openstack-neutron-linuxbridge
openstack-neutron-mellanox
openstack-neutron-metering-agent
openstack-neutron-midonet
openstack-neutron-ml2
openstack-neutron-nec
openstack-neutron-nuage
openstack-neutron-ofagent
openstack-neutron-oneconvergence-nvsd
openstack-neutron-openvswitch
openstack-neutron-plumgrid
openstack-neutron-ryu
openstack-neutron-vmware
openstack-neutron-vpn-agent
openstack-nova
openstack-nova-api
openstack-nova-cells
openstack-nova-cert
openstack-nova-common
openstack-nova-compute
openstack-nova-conductor
openstack-nova-console
openstack-nova-network
openstack-nova-novncproxy
openstack-nova-objectstore
openstack-nova-scheduler
openstack-swift
openstack-swift-account
openstack-swift-container
openstack-swift-object
openstack-swift-plugin-swift3
openstack-swift-proxy
openstack-utils
openvswitch
openpgm
pacemaker
parted
passwd
patch
pax
pcapy
perl-DBD-MySQL
perl-LockFile-Simple
perl-devel
policycoreutils
postgresql
postgresql-devel
postgresql-libs
postgresql-server
pssh
pcs
puppet
puppet-server
pushy
pygobject2
pyparsing
pyparsing-doc
pysendfile
python-actdiag
python-alembic
python-amqp
python-amqplib
python-anyjson
python-argparse
python-babel
python-blockdiag
python-ceilometer
python-ceilometerclient
python-ceph
python-cheetah
python-cinder
python-cinderclient
python-cliff
python-cliff-tablib
python-cloudfiles
python-cmd2
python-crypto
python-d2to1
python-daemon
python-daemonize
python-deltarpm
python-devel
python-django-appconf
python-django-compressor
python-django-horizon
python-django-horizon-doc
python-django-openstack-auth
python-dmidecode
python-ethtool
python-eventlet
python-funcparserlib
python-gflags
python-glance
python-glanceclient
python-greenlet
python-greenlet-devel
python-heatclient
python-httplib2
python-imgcreate
python-importlib
python-ipaddr
python-iso8601
python-jsonschema
python-keyring
python-keystone
python-keystoneclient
python-keystoneclient-doc
python-kombu
python-lockfile
python-markdown
python-meld3
python-migrate
python-muranoclient
python-netaddr
python-netifaces
python-neutron
python-neutronclient
python-nose-cover3
python-nova
python-novaclient
python-novaclient-doc
python-nwdiag
python-ordereddict
python-oslo-config
python-oslo-config-doc
python-osnagios
python-paramiko
python-passlib
python-paste
python-paste-deploy1.5
python-pbr
python-pip
python-prettytable
python-py
python-pylibmc
python-pygments
python-pyudev
python-qpid-qmf
python-rabbit
python-requests
python-rhsm
python-routes
python-saharaclient
python-seqdiag
python-setuptools
python-simplejson
python-six
python-sphinx10
python-sphinx10-doc
python-sqlalchemy
python-stevedore
python-swiftclient
python-swiftclient-doc
python-tablib
python-unittest2
python-urwid
python-versiontools
python-virtualenv
python-warlock
python-webcolors
python-webob
python-websockify
python-werkzeug
python-wsgilog
python-wsgiref
python-zmq
pyxattr
qemu
qpid-cpp-server-ssl
qpid-qmf
qpid-tests
qpid-tools
rabbitmq-server
rbd-fuse
resource-agents
redhat-lsb-core
rpm-build
rst2pdf
rsync
rsyslog
rsyslog-relp
ruby
ruby-irb
ruby-augeas
ruby-devel
ruby-extlib
ruby-libs
ruby-mysql
ruby-rdoc
ruby-ri
ruby-shadow
rubygem-abstract
rubygem-activesupport
rubygem-arel
rubygem-builder
rubygem-bundler
rubygem-bunny
rubygem-cstruct
rubygem-daemons
rubygem-erubis
rubygem-eventmachine
rubygem-eventmachine-doc
rubygem-extlib
rubygem-extlib-doc
rubygem-fastthread
rubygem-gem_plugin
rubygem-highline
rubygem-httpclient
rubygem-httpclient-doc
rubygem-i18n
rubygem-ipaddress
rubygem-ipaddress-doc
rubygem-json
rubygem-json-doc
rubygem-json_pure
rubygem-json_pure-doc
rubygem-mail
rubygem-mime-types
rubygem-mime-types-doc
rubygem-mixlib-authentication
rubygem-mixlib-cli
rubygem-mixlib-cli-doc
rubygem-mixlib-config
rubygem-mixlib-log
rubygem-mixlib-shellout
rubygem-moneta
rubygem-mongrel
rubygem-net-ssh
rubygem-net-ssh-gateway
rubygem-net-ssh-multi
rubygem-netaddr
rubygem-openstack
rubygem-polyglot
rubygem-rack
rubygem-rack-mount
rubygem-rack-test
rubygem-raemon
rubygem-rake
rubygem-rdoc
rubygem-rest-client
rubygem-stomp
rubygem-stomp-doc
rubygem-symboltable
rubygem-systemu
rubygem-thin
rubygem-thin-doc
rubygem-thor
rubygem-treetop
rubygem-tzinfo
rubygem-uuidtools
rubygem-yajl-ruby
rubygems
augeas-libs
libyaml
lldpad
ruby
nailgun-mcagents
rubygem-json
rubygem-eventmachine
rubygem-amqp
rubygem-rest-client
rubygem-symboltable
rubygem-open4
rubygem-json_pure
facter
hiera
rubygem-rgen
rubygem-stomp
rubygem-raemon
rubygem-mcollective-client
rubygem-astute
rubygem-openstack
rubygem-amq-protocol
rubygem-mime-types
rubygem-i18n
rubygem-activesupport
libselinux-ruby
rubygem-shadow
sahara
scapy
screen
selinux-policy
selinux-policy-targeted
send2syslog
snappy
socat
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
subscription-manager
supervisor
syslinux
system-config-firewall-base
sheepdog
tcpdump
tcptraceroute
tftp-server
time
tinyproxy
tmux
unzip
usermode
uwsgi
uwsgi-plugin-common
uwsgi-plugin-python
v8
vim-enhanced
virt-what
wget
whatmask
wireshark
wxBase
wxGTK
wxGTK-gl
xfsprogs
xinetd
percona-xtrabackup
yum
yum-utils
zeromq3
zlib-devel
python-pypcap
nailgun
fuel-ostf
shotgun
fuelmenu
nailgun-agent
nailgun-mcagents
nailgun-net-check
python-fuelclient
zabbix22
zabbix22-agent
zabbix22-server
zabbix22-server-mysql
zabbix22-server-pgsql
zabbix22-web
zabbix22-web-mysql
zabbix22-web-pgsql
rubygem-rethtool
rubygem-ohai
